.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Poppins, sans-serif;
  color: rgb(2, 53, 28);
  font-size: 18px;
}

.lightBg {
  background-color: #ffffff;
}

.darkBg {
  background-color: #121212;
}

.spinnerIcon {
  margin-right: 10px;
}
